<div *ngIf="pastrie" class="card">
  <img src="{{ pastrie.url }}" class="card-img-top" alt="{{ pastrie.name }}" />
  <div class="card-body">
    <h5 class="card-title">{{ pastrie.name }}</h5>
    <p class="card-text">{{ pastrie.description }}</p>
    <div [ngSwitch]="order">
      <button *ngSwitchCase="ORDERS.desc" class="btn btn-primary" (click)="toggleOrder()">Asc >>></button>
      <button *ngSwitchCase="ORDERS.asc" class="btn btn-secondary" (click)="toggleOrder()">Desc >>></button>
      <button *ngSwitchDefault class="btn btn-danger" (click)="toggleOrder()">Desc >>></button>
    </div>
  </div>
  <div class="card-footer">
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients" class="list-group-item">{{ ingredient }}</li>
    </ul>
  </div>
</div>