.card .like {
    display: flex;
    align-items: center;
}

.card .like img {
    margin: 5px;
}

.text-bg-info {
    color: #fff !important;
    padding: 5px 10px;
}

.card h6 {
    margin-bottom: 0;
}

.card {
    margin-top: 10px;
}