<div class="col">
  <app-pastrie-details [pastrie]="selectedPastrie" />
</div>
<div class="col">
  <h1>{{ titlePage }}</h1>
  <p>pastries works!</p>

  <div *ngIf="pastries" class="d-flex flex-column">
    <div class="card m-2" *ngFor="let pastrie of pastries">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-header">
        Il en reste
        <span
          *ngIf="pastrie?.quantity"
          class="badge rounded-pill text-bg-danger"
          >{{ pastrie.quantity }}</span
        >
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ pastrie.name }}
          <span
          *ngIf="pastrie?.like"
          class="badge rounded-pill text-bg-danger"
          >{{ pastrie.like }}</span
          >
        </h5>
        <button class="btn btn-primary" (click)="onSelect(pastrie)" >Sélectionner</button>
        <p class="card-text">{{ pastrie.description }}</p>
      </div>
      <div class="card-footer text-body-secondary">
        <span
          *ngFor="let tag of pastrie?.tags"
          class="badge rounded-pill text-bg-info"
          >{{ tag }}</span
        >
      </div>
    </div>
  </div>
</div>
